<a href="https://colab.research.google.com/github/Ruchi0000/RL/blob/main/Experiment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.10.12

In [2]:
x = 3
print(x)
print(x, type(x))

3
3 <class 'int'>

In [3]:
print(x+1)
print(x-1)
print(x*2)
print(x**2)
x += 1

4
2
6
9

In [4]:
t = True
f = False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t  !=f)

<class 'bool'>
False
True
False
True

In [5]:
s = "hello"
print(s.capitalize())
print(s.upper())
print(s.rjust(7))
print(s.center(7))
print(s.replace( '1','(ell)'))
print(len(s))
print(' world ' .strip())

Hello
HELLO
  hello
 hello
hello
5
world

In [6]:
hw12 = '{} {} {}'.format("hello" , "world", 12) # string formatting
print(hw12)

hello world 12

In [7]:
xs = [3 , 1, 2]
print(xs, xs[2])
print(xs[-1])
xs[2] = 'foo'
print(xs)
xs.append('bar')
print(xs)
x = xs.pop()
print(x, xs)

[3, 1, 2] 2
2
[3, 1, 'foo']
[3, 1, 'foo', 'bar']
bar [3, 1, 'foo']

In [8]:
nums = list(range(5))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums [2:])
print(nums[:-1])
nums[2:4] = [8, 9]
print(nums)
print(nums[:])

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]
[0, 1, 8, 9, 4]

In [9]:
animals = ['cat' , 'dog' , 'monkey']
for animal in animals:
  print(animal)

cat
dog
monkey

In [10]:
animals = ['cat' , 'dog' , 'monkey']
for idx, animal in enumerate(animals):
  print('#{}  {}' .format (idx + 1, animal))

#1  cat
#2  dog
#3  monkey

In [11]:
nums = list(range(10))
square = []
print(nums)
for n in nums:
  square.append(n**2)
print(square)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
nums = [0, 1, 2, 3, 4, 5]
square = [x ** 2 for x in nums if x % 2 == 0]
print(square)

[0, 4, 16]

In [13]:
def sign(x):
  if x > 0:
    return 'positive'
  elif x < 0:
    return 'negative'
  else:
    return 'zero'

  for x in [-1,0,1]:
    print(sign(x))

In [14]:
import numpy as np
a = np.array([1, 2, 3])
print(type(a))
print(a.shape)
print(a[0], a[1], a[2])
a[0] = 5
print(a)

<class 'numpy.ndarray'>
(3,)
1 2 3
[5 2 3]